
$selection-color: rgba(white, 0.3);

$text-color-info:    rgb(100, 148, 237);
$text-color-success: rgb(115, 201, 144);
$text-color-warning: rgb(243, 191, 68);
$text-color-danger:   rgb(255, 99, 71);
$text-color-muted: #5e6274;
$text-color-subtle: rgba(157, 165, 180, 0.1);
$text-color-highlight:  #ddd;
$text-color-selected: #fff;

$bg-color-normal:  #4D4D4D;
$bg-color-info:    rgb(15, 130, 230);
$bg-color-success: rgb(43, 161, 67);
$bg-color-warning: rgb(173, 124, 11);
$bg-color-danger:   rgb(209, 59, 46);
