@import './_variables';


.Alert {
  font-weight: bold;
}

.Alert--info { color: $text-color-info; }
.Alert--success { color: $text-color-success; }
.Alert--warning { color: $text-color-warning; }
.Alert--danger { color: $text-color-danger; }

.Alert--small {
  margin: 0.5em;
}
.Alert--medium {
  margin: 1em;
}
.Alert--large {
  margin: 1em;
}
