@import '_variables';

*::selection      { background: $selection-color; }
*::-moz-selection { background: $selection-color; }


html, body, #root, .App {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

a {
  color: #599eff;
}


/*
 * App
 */

.App {}
.App__logo {
  width: 6rem;
  height: 6rem;
}
.App__content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: white;
  background-color: #282c34;
}
.App__head {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App__results {
  flex: 1;
  overflow: hidden;
}
.App__title {
  font-size: calc(10px + 2vmin);
  margin: 1em;
}


/*
 * SearchBox
 */

.SearchBox {
  position: relative;
  margin-bottom: 1em;
}
.SearchBox__content {
  position: relative;
  width: calc(100px + 30vw);
}
.SearchBox__input {
  width: 100%;
  padding: 4px 10px;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #555d6f;
  border: 2px solid #4e5667;
  border-radius: 2px;

  &:focus {
    outline: none;
    border: 2px solid #599eff;
  }
}
.SearchBox__spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(120%, -50%);
}
.SearchBox__results {
  position: absolute;
  width: calc(100px + 30vw);
  padding: 4px 0;
  border: 1px solid #4e5667;
  background-color: #8e9ab2;
  color: #0f1014;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 2px 4px 2px #00000045;
}
.SearchBox__results__row {
  padding: 0 10px;
  display: flex;
  line-height: 1.5;
}
.SearchBox__results__row--clickable {
  cursor: pointer;
  &:hover {
    background-color: rgba(black, 0.10);
  }
}
.SearchBox__results__row--selected {
  color: white;
  background-color: rgba(black, 0.20);
}
.SearchBox__results__row--message {
  padding: 4px 10px;
  color: $text-color-muted;
}
.SearchBox__result__name {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SearchBox__result__id {
  flex: 0 0 auto;
  width: 90px;
  color: #5e6274;
  font-size: 0.8em;
}
.SearchBox__results__row--selected .SearchBox__result__id {
  color: rgba(white, 0.6);
}


/*
 * ResultTable
 */

.ResultTable {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 14px;
}
.ResultTable__head {
  font-weight: bold;
  padding-right: 10px;
}
.ResultTable__table {
  flex: 1;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: auto;
}
.ResultTable__table tr {
  transition: all .15s;
  &:hover {
    background-color: rgba(white, 0.1);
  }
}
.ResultTable__table th {
  text-align: left;
}
.ResultTable__table td {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.ResultTable__row {
  display: flex;
  width: 100%;
}
.ResultTable__row--clickable {
  cursor: pointer;
  transition: all .15s;
  &:hover {
    background-color: rgba(white, 0.1);
  }
}
.ResultTable__row--genes {
  padding: 2px 4px;
}
.ResultTable__row > * {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 4px;
}
.ResultTable__row--collapsed > *:not(.ResultTable__genes) {
  color: $text-color-muted;
}
.ResultTable__group__content {
  border-left: 1px solid white;
  margin-left: 0.4em;
}
.ResultTable__genes {
  width: 100px;
  font-weight: bold;
}
.ResultTable__icon {
  width: 40px;
}
.ResultTable__source {
  width: 60px;
}
.ResultTable__featureNames {
  width: 150px;
  font-weight: bold;
}
.ResultTable__diseases {
  flex: 2;
}
.ResultTable__drugs {
  flex: 1;
}
.ResultTable__response {
  width: 150px;
}
.ResultTable__evidenceLabel {
  width: 70px;
  text-align: center;
}
.ResultTable__padding {
  width: calc(40px + 60px);
}

.ResultTable__details {
  margin-left: 100px;
}
.ResultTable__details th {
  vertical-align: top;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0.5;
  line-height: 1.5;
}

.ResultTable__separator {
  margin-bottom: 1em;
}

@media (min-width: 1300px) {
  .ResultTable {
    font-size: 16px;
  }

  .ResultTable__evidenceLabel {
    width: 90px;
  }
  .ResultTable__sourceURL {
    width: 150px;
  }
  .ResultTable__publication {
    width: 150px;
  }
}
