/*
 * Scrollbars
 */

.browser-chrome, .browser-safari, .browser-unknown {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(black, 0.1);
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 1px solid #282c34;
    background: #4e5667;
    // border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(black, 0.1);
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 1px solid #282c34;
    background: #5d677d;
  }
  ::-webkit-scrollbar-thumb:active {
    border: 1px solid #282c34;
    background: #3e4452;
  }

  /* Corner */
  ::-webkit-scrollbar-corner {
    background: rgba(black, 0.1);
  }
}

.browser-firefox * {
  /* scrollbar is thinner on firefox, therefore the colors are darker */
  $scrollbar-thumb: #aaa;
  $scrollbar-track: #e5e5e5;

  scrollbar-color: light; /* other firefox compatibility */

  scrollbar-face-color:  $scrollbar-thumb; /* firefox 63 compatibility */
  scrollbar-track-color: $scrollbar-track; /* firefox 63 compatibility */

  scrollbar-color: $scrollbar-thumb $scrollbar-track;

  scrollbar-width: thin;
}


