
$spinner-size-small:  2em;
$spinner-size-medium: 4em;
$spinner-size-large:  6em;

.Spinner {
  position: relative;
  display: inline-block;
  width:  $spinner-size-medium;
  height: $spinner-size-medium;

  &.small {
    width:  $spinner-size-small;
    height: $spinner-size-small;
    &::before {
      width:  $spinner-size-small;
      height: $spinner-size-small;
    }
    &::after {
      width:  $spinner-size-small;
      height: $spinner-size-small;
    }
  }
  &.medium {
    width:  $spinner-size-medium;
    height: $spinner-size-medium;
    &::before {
      width:  $spinner-size-medium;
      height: $spinner-size-medium;
    }
    &::after {
      width:  $spinner-size-medium;
      height: $spinner-size-medium;
    }
  }
  &.large {
    width:  $spinner-size-large;
    height: $spinner-size-large;
    &::before {
      width:  $spinner-size-large;
      height: $spinner-size-large;
    }
    &::after {
      width:  $spinner-size-large;
      height: $spinner-size-large;
    }
  }
}

.Spinner--visible:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: $spinner-size-medium;
  height: $spinner-size-medium;
  border-radius: 500rem;
  border: .2em solid rgba(white,.3);
  box-sizing: border-box;
}
.Spinner--visible:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: $spinner-size-medium;
  height: $spinner-size-medium;
  animation: button-spin .8s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: rgba(white, 0.8) transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
  box-sizing: border-box;
}

.Spinner--visible.Spinner--inverse:before {
  border: .2em solid rgba(0,0,0,.1);
}
.Spinner--visible.Spinner--inverse:after {
  border-color: rgba(0, 0, 0, 0.2) transparent transparent;
}


@keyframes button-spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}
