@import './_variables';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-info { color: $text-color-info; }
.text-success { color: $text-color-success };
.text-warning { color: $text-color-warning };
.text-danger { color: $text-color-danger };
.text-muted { color: $text-color-muted };
.text-subtle { color: $text-color-subtle };
.text-highlight { color: $text-color-highlight };
.text-selected { color: $text-color-selected };
